/* Universal selector, all elements #1 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameHouse {
  height: 100vh;
  background-image: url(orange-1247700.jpg);
  margin: 0;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreBoard {
  color: rgb(236, 236, 236);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scoreBoard h2 {
  font-size: 40px;
  color: black;
}

.scoreBoard p {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color: black;
}

.startPage {
  color: rgb(236, 236, 236);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.startPage h1 {
  font-size: 50px;
  color: black;
}

.startPage p {
  font-size: 35px;
  color: black;
}

.startOptions button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: rgb(236, 236, 236);
  font-size: 20px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-left: 46%;
}

.gameOptions button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: rgb(236, 236, 236);
  font-size: 20px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.gamePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}

.winner {
  color: black;
  text-align: center;
  font-size: 40px;
}

.hands {
  display: flex;
  margin: 0px;
  justify-content: space-around;
  align-items: center;
  
}

.gameOptions {
  align-items: center;
  margin-left: 70vh;
  padding-top: 50px;
}

.computerHand {
  transform: rotateY(180deg);
}

/* the startpage to fade once game is started */
div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

/* Animation of player/computer hands */
@keyframes shakePlayer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(-0px);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-0px);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(-0px);
  }
  85% {
    transform: translateY(-50px);
  }
  /* 100%{
    transform: translateY(-0px);
  } */
}

@keyframes shakeComputer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(-0px);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(-0px);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(-0px);
  }
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
  /* 100%{
    transform: rotateY(180deg) translateY(-0px);
  } */
}
