/* Basic styling */

/* Universal selector, regards all elements */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameHouse {
  height: 100vh;
  background-color: rgb(243, 125, 39); /* This isn't working, why?! */
}


/* Basic styling */
